<div class="main-container">
  <form (ngSubmit)="onRecover()" [formGroup]="recoveryForm" class="recovery-form-container">
    <div>
      <h2>PASSWORD RECOVERY</h2>
      <p>We will send an letter to your email
        with instructions for further recovery</p>
    </div>
    <div class="input-container">
      <label class="input-label">
        {{error === emailExistMessage ? emailExistMessage : 'Email'}}
      </label>
      <input [ngClass]="{'error-input': error === emailExistMessage}"
             class="username-input"
             formControlName="email"
             type="email">
    </div>
    <button class="recovery-btn">Send recovery letter</button>
  </form>
</div>

