.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.recovery-form-container {
  width: 90%;
  display: flex;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 5px 11px 3px #4441411f;
}

.recovery-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px auto;
  padding: 16px 24px;
  height: 45px;
  background: #12141A;
  color: #FFFFFF;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.recovery-btn:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.input-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.error-input
{
  border: 1px solid red;
}

.input-container label {
  text-align: start;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #606778;
  margin-bottom: 5px;
}

input {
  height: 20px;
  padding: 10px 15px;
  border: 1px solid #606778;
  font-size: 14px;
  font-weight: 500;
  background: transparent;
  border-radius: 4px;
}

@media (min-width: 992px) {
  .recovery-form-container {
    width: 50%;
  }
}
